<!DOCTYPE html>
<html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <style>
            html {
                color-scheme: light dark;
            }
            body {
                text-align: center;
                font-family: system-ui;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
    </head>
    <body>
        <h1>
            <h1>
                {{title}}
            </h1>
            <h2>
                {{details}}
            </h2>
            <h3>
                <a href="/auth">Reverify</a>
            </h3>
        </h1>
    </body>
</html>
