<!DOCTYPE html>
<html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>INDEX</title>
        <style>
            html {
                color-scheme: light dark;
            }
            body {
                text-align: center;
                font-family: system-ui;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
    </head>
    <body>
        <h1>
            Successful verified!
        </h1>
        <h2>
            {{login}}
        </h2>
    </body>
</html>
